.author-blog-content span.author-name {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.84);
}

.author-blog-content span.date {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.footer-content {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  margin-top: 2rem;
}
